# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_ADMIN_ID=your_telegram_chat_id_here

# Google Sheets Configuration
SPREADSHEET_ID=your_google_spreadsheet_id_here
SERVICE_ACCOUNT_FILE=credentials.json

# App Configuration
PORT=8000
HOST=0.0.0.0
ACTIVE_SHEET_NAME=Hari 38
